* {
  font-family: 'JetBrains Mono', monospace;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frontpage {
  height: 300px;
  width: 100%;
  background-color: darkgray;
}

.intro {
  height: 300px;
  width: 100%;
  background-color: darkgray;
}

.project {
  height: 300px;
  width: 100%;
  background-color: darkgray;
}

.skills {
  height: 300px;
  width: 100%;
  background-color: darkgray;
}

.footer {
  height: 50px;
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introbox {
  align-items: start;
}

/* .non-provided {
  display: none;

} */

/* @media (max-width: 670px) {
  nav, main, section, footer, skills, intro {display: none;}
  .non-provided {display: block;}
} */